body {
    .billboard{
        background-image: url('../image/billboard/Layer1.png');
        background-position:50%;
        background-repeat:no-repeat;
    }

    .billboard-pic{
        margin-top:210px;
        text-align:center;

    }

    .billboard-txt{
        margin-bottom:210px;
    }

    .cover{
        background-color:#3d4044;
        opacity:1;
        z-index:-1;
    }


}
