body {
    .billboard{
        background-image: url('../image/billboard/Layer1.png'),
                         linear-gradient(to right, rgba(30, 75, 115, 1),  rgba(255, 255, 255, 0));
        background-position:50%;
        background-repeat:no-repeat,no-repeat;
        

     
    }

    .billboard-pic{
        margin-top:210px;
        text-align:center;

    }

    .billboard-txt{
        margin-bottom:210px;
    }


      .cover{
        position:relative;
        background-color:#3d4044;
        opacity:0.7;
        z-index:1;
        }

     

    @media screen and (max-width:768px){
        .tttt{
            color:#781169;
        }
    }

    @media screen and (min-width:768px){
        .tttt{
            color:#FF0000;
        }
    }

     @media screen and (min-width:992px){
        .tttt{
            color:#ffd800;
        }
    }

     @media screen and (min-width:1200px){
        .tttt{
            color:#192165;
        }
    }



}
