body .dishes {
  background-color: #FFF; }

body .dish-desc:hover {
  color: #ccc; }

body .dish-desc {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px; }

body .rating {
  display: block; }

body .dish-logo {
  margin: 50px 0; }

body .dishes-display {
  margin: 50px 0 120px 0; }

@media screen and (max-width: 768px) {
  body .dishes-xs {
    padding-left: 10px;
    padding-right: 20px; } }

